.preloaderWrapper{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px) brightness(0.5);
    z-index: 9999;
    text-align: center;
}

.preloader {
    display: block;
    width: 150px;
    height: 150px;
    z-index: 9999;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    position: relative;
    box-shadow: 0px 0px 40px 0px rgb(252 50 50 / 52%);
}
.preloader:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FC1452;
    animation: preloader-spin 1.5s linear infinite;
    -webkit-animation: preloader-spin 1.5s linear infinite;
    -moz-animation: preloader-spin 1.5s linear infinite;
    outline: 1px solid #FC1452;
    box-shadow: inset 0px 0px 40px 0px rgb(252 50 50 / 52%);
}

.logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    height: 64px;
    width: 64px;
    animation: logo-width 1.5s linear infinite;
    -webkit-animation: logo-width 1.5s linear infinite;
    -moz-animation: logo-width 1.5s linear infinite;
}

@keyframes preloader-spin {
    0%   {
        transform: rotate(0deg);
        box-shadow: inset 0px 0px 40px 0px rgb(252 50 50 / 52%);
    }
    50% {
        transform: rotate(180deg);
        box-shadow: inset 0px 0px 20px 0px rgb(252 50 50 / 52%);
    }
    100% {
        transform: rotate(360deg);
        box-shadow: inset 0px 0px 40px 0px rgb(252 50 50 / 52%);
    }
}

@keyframes logo-width {
    0%   {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.05);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}