.modalContainer {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(3px) brightness(0.5);
    backdrop-filter: blur(3px) brightness(0.5);
    transition: .3s ease;
}

.modal {
    background: #040713;
    border-radius: 10px;
    border: 2px solid var(--orange);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    max-height: 90%;
    margin: 1rem;
    border: 2px solid #FC1452;
    box-shadow: 0px 0px 40px 0px rgb(252 50 50 / 52%);
    transition: .3s ease;
}

.modal_title {
    text-align: center;
    color: #FC1452;
    font-family: "Lato", Sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 8px;
    font-size: 30px;
}

.connectButton {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    justify-content: center;
    cursor: pointer;
}

.connectButton:disabled {
    cursor: default;
}